# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
env/

# PyInstaller 打包产物
build/
dist/
*.spec

# 迁移报告
迁移报告_*.html
迁移日志.html

# IDE
.idea/
.vscode/
*.swp

# 系统文件
Thumbs.db
Desktop.ini
.DS_Store
